{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Website-Estacionamento</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="class row">
            <div class="class col-6 row-space">

            <h1 class="text-center">Estacionamento 24hrs</h1>
            <span>Slogan da sua empresa aqui</span>
            </div>

            <div class="class col-6 row-space">

                <img src="{%static 'img/car_p.jpg'%}" alt="Estacionamento 24hrs">

            </div>
        </div>
        {% include 'website/menu.html' %}
        {% block main %}
        {% endblock %}
        {% include 'website/footer.html' %}
    </div>
</body>
</html>