{% extends 'website/base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
    <div class="row row-space text-justify">
        <div class="col-12">
            Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            Diuretics paradis num copo é motivis de denguis.


        </div>
    </div>

    <div class="class row row-space">
        <div class="col-12">
            <p class="text-danger fontex text-center">Preços Promocionais:</p>
            <ul class="text-center">
                <li>1/2 meia = 0,10</li>
                <li>1 hora = 1,00</li>
                <li>   mensal = 25,00</li>
                <li>anual = 150,00</li>
            </ul>
        </div>

        <div class="col-6">

        </div>
    </div>
{% endblock %}