{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-12">
            Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            Diuretics paradis num copo é motivis de denguis.

            Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi.
            Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.
            Quem manda na minha terra sou euzis!


        </div>
    </div>

    <div class="class row row-space">
        <div class="col-6">
            Viva Forevis aptent taciti sociosqu ad litora torquent. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. In elementis mé pra quem é amistosis quis leo.
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </div>

        <div class="col-6">
            <img src="{% static 'img/car.jpeg'%}" alt="minha imagem">
        </div>
    </div>
{% endblock %}