{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core_home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
          <a class="dropdown-item active" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
          <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
          <a class="dropdown-item" href="{% url 'core_lista_movrot' %}">Rotativos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
          <a class="dropdown-item" href="{% url 'core_lista_movmensalistas' %}">Mov_Mensalistas</a>
        </div>
      {% if user.is_authenticated %}
      <li class="nav-item ">
        <a class="nav-link disabled" href="#">Ola {{ user }}</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    {% endif %}
    </ul>

{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Sistemade cadastro de Pessoas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <h1>Cadastro</h1>
            <form action="{% url 'lista_pessoa_nova' %}" method="POST">

                {% csrf_token %}
                {{ form|bootstrap }}

                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>

    <br>
        <div class="col-sm-6">
            <br>
                <h1 class="text-center">Lista de Pessoas</h1>
                <table class="table table-striped">
                  <thead>
                      <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                      <th scope="col">CPF</th>
                      <th scope="col">Endereço</th>
                      <th scope="col">Telefone</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for pessoa in pessoas %}
                      <tr>
                      <th scope="row">{{ pessoa.id }}</th>
                      <td>{{ pessoa.nome }}</td>
                      <td>{{ pessoa.cpf }}</td>
                      <td>{{ pessoa.endereco }}</td>
                      <td>{{ pessoa.telefone }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>

{% endblock %}
